<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="Keywords" content="@ViewBag.Keywords"/>
    <meta name="Description" content="@ViewBag.Description"/>
    <link rel="stylesheet" href="/content/css/bigvideo.css"/>
    <link rel="stylesheet" href="/content/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/content/font/css/font-awesome.min.css"/>
    <link href="/Content/css/jquery-ui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/content/css/style.css"/>

    <script src="/content/js/jquery-1.11.1.min.js"></script>
    <script src="/Content/js/jquery-ui.js"></script>
</head>
<body>
<nav class="navbar  navbar-fixed-top" role="navigation" id="navbar">
    <div class="container">
        <div class="pull-right">
            @Html.Action("Index", "Home", new {id = "RenderNav"})
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
</div>

<div style="clear: both; height: 50px;"></div>
<footer class="navbar-bottom">
    <div class="container">
        <div class="pull-left">
            <a href="/My/"><i class="fa fa-dashboard"></i> 用户面板</a>

            <a href="/My/Index/Documents"><i class="fa fa-television"></i> 接口文档</a>
            <a href="/My/Index/Samples"><i class="fa fa-star-o"></i> 典型应用</a>
            <a href="/My/Index/Tutorials"><i class="fa fa-gear"></i> 使用教程</a>
            <a href="/My/Index/Libraries"><i class="fa fa-flask"></i> 引用类库</a>
            <a href="/My/Index/Contactus"><i class="fa fa-bell-o"></i> 联系我们</a>
        </div>
        <div class="pull-right">&copy; 2017 </div>
    </div>

</footer>

<script src="/content/js/jquery.imagesloaded.min.js"></script>
<script src="/content/bootstrap/js/bootstrap.min.js"></script>
<script src="/Content/v1.js"></script>

@if (IsSectionDefined("PageTail"))
{
    @RenderSection("PageTail")
}
</body>
</html>